version: '3'

services:
  ubuntu:
    build:
      context: ..
      dockerfile: docker/Dockerfile.ubuntu
    container_name: xpm-ubuntu
    command: ["bash", "-c", "xpm --version && xpm refresh && xpm search micro"]

  arch:
    build:
      context: ..
      dockerfile: docker/Dockerfile.arch
    container_name: xpm-arch
    command: ["bash", "-c", "xpm --version && xpm refresh && xpm search micro"]
